.row-clear {
    @extend %clearfix;
}

#container {
    position: relative;
    background: #fff;
    width: 960px;
    margin: 0 auto;
    @extend %clearfix;
    // padding: 0 15px;
}
/*------------------- Component -------------------*/
// /*------------------- Typography -------------------*/
.title-h2,
.title-h3,
.arrow {
    text-align: center;
}
.title-h4 {
    font-size: 24px;    
   line-height: 1.56;
}
.txt {
   font-size: 24px;
   line-height: 1.56;
}
.note {
    font-size: 16px;
}

.banner {
        position: relative;
        .message,
        .btn {
            position: absolute;
        }
        .message {
            top: -30px;
            right: -20px;
        }
        .btn {
            right: 57px;
            bottom: 15px;
            img {
                width: 631px;
                height: 116px;
            }
        }
    }

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.gold {
    position: absolute;
    &-txt {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}
