html {
    font-size: 10px;
}
body {
    font-family: $font-body;
    color: $color-o;
    font-size: 14px;
    letter-spacing: .25em;
    background: rgb(0, 110, 110);
}
* {
    box-sizing: border-box;
    // transition: all 400ms;
}
a {
    // transition: all 400ms;
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        color: $color-primary;
        text-decoration: none;
        img {
            opacity: 0.8;
        }
    }
    &:focus {
        color: $color-primary;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h5, h6 {
    font-family: $font-body;
}
img {
    // max-width: 100%;
    vertical-align: top;
}
li, ol {
    list-style: none;
}
button, input, a {
    &:focus {
        outline: none;
    }
}
