/*======================================
        Header
======================================*/
.header {
    .main-banner {
    	position: relative;
    	.gold {
    		top: 85px;
    		right: -20px;
    		z-index: 999;
    		.dolar {
    			width: 280px;
    			height: 182px;
    			top: 0;
    			left: 0;
    		}
    	}
    	.banner {
    		margin-left: -31px;
    	}
    }
    .note {
    	padding-top: 10px;
    }
}


