.row-clear {
    @extend %clearfix;
}

#container {
    position: relative;
    background: #fff;
    width: 960px;
    margin: 0 auto;
    @extend %clearfix; // padding: 0 15px;
}


/*------------------- Component -------------------*/

// /*------------------- Typography -------------------*/
.title_h2,
.title_h3,
.arrow {
    text-align: center;
}

.title_h4 {
    font-size: 24px;
    line-height: 1.42;
}

.txt {
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
}

.note {
    font-size: 15px;
    font-weight: bold;
}

.banner {
    position: relative;
    .message,
    .btn {
        position: absolute;
    }
    .message {
        top: -35px;
        right: -50px;
    }
    .btn {
        right: 65px;
        bottom: 20px;
        img {
            width: 631px;
            height: 116px;
        }
    }
}

.group-shake {
    height: 800px;
    position: relative;
    background: url('../images/bg_01.png') center center no-repeat;
    .shake {
        position: absolute;
        &01 {
            top: 85px;
            left: 310px;
            animation-delay: 500ms;
        }
        &02 {
            left: 30px;
            bottom: 20px;
        }
        &03 {
            right: 30px;
            bottom: 20px;
            animation-delay: 1500ms;
        }
    }
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.gold {
    position: absolute;
    &-txt {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}