/*======================================
        Header
======================================*/
.header {
    .main-banner {
    	position: relative;
        overflow: hidden;
        margin-bottom: 1%;
        .txt {
            position: absolute;
            top: 18%;
            left: 1.4%;
            z-index: 100;
            width: 72%;
        }
    	.gold {
    		top: 13%;
            right: 0;
    		z-index: 99;
            width: 30%;
            &-txt {
                width: 80%;
            }
    		.dolar {
                width: 100%;
                height: 100%;
    			top: 0;
    			left: 0;
    		}
    	}
    	.banner {
            width: 106%;
            margin-left: -6%;
    	}
    }
    .note {
        font-size: 1.4vw; 
        padding-left: 1%;   
    }
}


