.row-clear {
    @extend %clearfix;
}

#container {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @extend %clearfix; // padding: 0 15px;
}


/*------------------- Component -------------------*/

// /*------------------- Typography -------------------*/
.title_h2,
.title_h3,
.arrow {
    text-align: center;
}

.title_h4 {
    font-size: 3vw;
    line-height: 1.42;
}

.txt {
    font-size: 3vw;
    line-height: 1.5;
    font-weight: bold;
}

.note {
    font-size: 2vw;
    font-weight: bold;
}

.banner {
    position: relative;
    .message,
    .btn {
        position: absolute;
    }
    .message {
        width: 18vw;
        top: 10vw;
        right: 2vw;
    }
    .btn {
        bottom: 2vw;
        left: 0;
        right: 0;
        width: 80vw;
        margin: 0 auto;
    }
}

.font-style {
    font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.group-shake {
    height: 85vw;
    position: relative;
    background: url('../images/bg_01.png') center center no-repeat;
    background-size: cover;
    .shake {
        width: 40vw;
        position: absolute;
        &01 {
            top: 10%;
            position: absolute;
            left: 30%;
        }
        &02 {
            left: 2%;
            bottom: 1%;
        }
        &03 {
            right: 2%;
            bottom: 1%;
            animation-delay: 1500ms;
        }
    }
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.gold {
    position: absolute;
    &-txt {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}